<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{{ resource.meta.name }}{% if resource.meta.title %} - {{ resource.meta.title }}{% endif %}{% endblock %}</title>
  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  {% endblock favicons %}

  {% block css %}
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet'  type='text/css' />
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/bootstrap-responsive.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/font-awesome-social.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  {% endblock css %}

  {% block headjs %}
  <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{{ media_url('js/libs/bootstrap.min.js') }}"></script>
  {% endblock headjs %}
      {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  {% endblock jquery %}

  {% block scripts %}
  {% endblock scripts %}

  {% endblock js %}

  {% block endhead %}{% endblock endhead %}
</head>
  <body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
    <header class="clearfix">
      {% block header -%}{%- endblock %}
      {% block nav %}
      {% from "macros.j2" import render_nav with context %}
      {{ render_nav(menu, 'main_nav') }}
      {% endblock %}
    </header>

  {% block content %}
  <div class="container" id="container">
      {% block container %}
          <section class="content">
          {% block main %}
          {% endblock main %}
          </section>
    {% endblock container %}
  </div> <!--! end of #container -->
  {% endblock content%}

  <footer>
    <span id="cc">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
	<img src="{{ media_url('images/cc.png') }}" alt="Creative Commons Lizenzvertrag" title="all content under CC BY-SA" width="48" height="48" />
      </a>
    </span>
    <span id ="atom">
      <a href="/blog/atom.xml" title="Atom Feed">
	<img src="{{ media_url('images/atom.png') }}" alt="Atom feed" title="Atom feed" width="48" height="47" />
      </a>
    </span>
    <!-- Piwik --> 
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.kendix.org/" : "http://piwik.kendix.org/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script><noscript><p><img src="http://piwik.kendix.org/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  </footer>
</body>
</html>
